@import "../../styles/styles";

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: $white;
  z-index: 9;
  @include flex(flex-start, center);
}

.header_container {
  @include flex(space-between, center);
  flex: 1;
}

.logo_container {
  @include marginPadding(0, 0);
  flex: none;
  width: 180px;
}

.logo {
  margin-top: 5px;
  @include fullWidthImage();
}

.nav {
  @include flex(flex-end, center);
  grid-gap: 30px;
}

.nav_items {
  @include marginPadding(0, 0);
  display: none;

  @media screen and (min-width: 900px) {
    @include flex(flex-end, center);
  }

  &:hover {
    .nav_item {
      opacity: .25;
    }
  }

  .nav_item {
    @include marginPadding(0, 0);

    &:hover {
      opacity: 1;
    }

    .nav_item_link {
      @include marginPadding(0, 0 15px);
      @include flex(center, center);
      color: $white;
      text-align: center;
      height: 80px;
      color: $black;
    }
  }
}

.cta_btn {
  @include marginPadding(0, 0);

  .cta_btn_link {
    @include marginPadding(0, 15px 20px);
    @include flex(center, center);
    font-weight: bold;
    color: $white;
    text-align: center;
    background: $apricot;

    &:hover {
      background: $sunrise;
    }
  }
}