$footerMobileWidth: 500px;

.footer {
  @include marginPadding(0, 50px 0);
  background: $white;


  .footer-container {
    @include flex(flex-start, flex-start);
    flex-direction: column;
    grid-gap: 40px 60px;

    @media screen and (min-width: 700px) {
      @include flex(space-between, center);
      flex-direction: row;
    }

    .footer-legal-items {
      @include flex(flex-start, flex-start);
      flex-direction: column;
      grid-gap: 15px;

      @media screen and (min-width: 600px) {
        @include flex(flex-start, flex-start);
        flex-direction: row;
      }

      .footer-legal-link {
        &.disclaimer {
          color: $clay;

          &:hover {
            color: $ochre;
          }
        }

        &:hover {
          color: $ochre;
        }
      }

      .footer-copyright {
        @include flex(flex-start, center);
        grid-gap: 10px;
      }

      .spacer {
        display: none;

        @media screen and (min-width: 600px) {
          display: inline;
        }
      }
    }
  }
}

.disclaimer-popup {
  @include marginPadding(0, 60px 20px);

  @media screen and (min-width: 800px) {
    @include marginPadding(0, 50px);
  }

  .disclaimer-popup-title {
    @include marginPadding(0 0 30px, 0);
  }

  .disclaimer-popup-copy {
    @include marginPadding(20px 0 0, 0);
  }
}