$headerMobileWidth: 960px;
$copyGray: #6C6762;

.header {
  @include marginPadding(0, 0);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background: $white;
  z-index: 99999;
  transition: all .25s;
  border-bottom: 1px solid $lightGray;

  @media screen and (min-width: $headerMobileWidth) {
    background: $white;
    border-bottom: 1px solid rgba(255, 255, 255, 0);
  }

  &.scrolled {
    background: $white;
    border-bottom: 1px solid $lightGray;
  }

  &:hover {
    background: $white;
    border-bottom: 1px solid $lightGray;
  }

  .header-container {
    position: relative;
    @include marginPadding(0 auto, 0 30px);
    @include flex(space-between, center);
    max-width: 1260px;
    height: 80px;

    .header-logo-container {
      margin-top: 3px;

      .header-logo {
        width: 180px;

        .header-logo-img {
          @include fullWidthImage();
        }
      }
    }

    .navigation-container {
      @include flex(flex-end, center);
      flex: 1;

      &.nav-open {
        .header-nav {
          @include marginPadding(0, 0 0 80px);
          display: block;
          position: absolute;
          top: 80px;
          left: 0;
          width: 100%;
          height: calc(100vh - 80px);
          background: $white;
          overflow-y: auto;

          @media screen and (min-width: $headerMobileWidth) {
            @include marginPadding(0, 0);
            @include flex(flex-end, center);
            position: static;
            background: none;
            height: auto;
          }
        }

        .nav-mobile-btn-bars {
          @include flex(center, center);

          .nav-mobile-btn-bar {
            &.top {
              transform: rotate(45deg);
              top: 8px;
            }

            &.bottom {
              transform: rotate(-45deg);
              bottom: 9px;
            }
          }
        }
      }
    }

    .header-nav {
      @include marginPadding(0, 0);
      display: none;

      @media screen and (min-width: $headerMobileWidth) {
        @include flex(flex-end, center);
      }

      .nav-items {
        @include marginPadding(0, 0);
        @include flex(flex-end, center);
        flex-direction: column;

        @media screen and (min-width: $headerMobileWidth) {
          @include flex(flex-end, center);
          flex-direction: row;

          &:hover {
            .nav-item {
              .nav-item-link {
                opacity: .25;
              }
            }
          }
        }

        .nav-item {
          position: relative;
          @include marginPadding(0, 0);
          width: 100%;
          border-top: 1px solid $lightGray;

          @media screen and (min-width: $headerMobileWidth) {
            position: static;
            border-top: none;
          }

          &:hover,
          &.active {
            .nav-item-link {
              color: $black;
              background: $lightGray;
            }
          }

          &.active {
            .nav-arrow-down {
              transform: rotate(-180deg);

              .nav-arrow-down-fill {
                fill: $black;
              }
            }
          }

          @media screen and (min-width: $headerMobileWidth) {
            width: auto;

            &:hover,
            &.active {
              .nav-item-link {
                background: none;
                opacity: 1;
              }

              .nav-arrow-down {
                transform: rotate(-180deg);

                .nav-arrow-down-fill {
                  fill: $black;
                }
              }
            }
          }

          &.nav-item-mobile {
            @include flex(center, center);

            .nav-item-link {
              font-weight: bold;
              color: $white;
              text-align: center;
              text-transform: uppercase;
              background: $apricot;
            }

            @media screen and (min-width: 500px) {
              display: none;
            }
          }

          .nav-item-link {
            @include marginPadding(0, 0 30px);
            @include flex(space-between, center);
            height: 80px;
            color: $black;
            width: 100%;
            transition: background .25s;

            @media screen and (min-width: $headerMobileWidth) {
              @include flex(center, center);
              @include marginPadding(0, 0 15px);
              text-align: center;
              color: $black;
              transition: all .25s;
            }
          }

          .nav-arrow-down {
            margin-left: 4px;
            width: 20px;
            height: auto;
            transition: all .25s;

            @media screen and (min-width: $headerMobileWidth) {
              width: 15px;
            }

            .nav-arrow-down-fill {
              fill: $black;
              opacity: .5;
              transition: all .25s;
            }
          }

          .nav-item-close {
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            width: 85px;
            height: 80px;
            cursor: pointer;

            @media screen and (min-width: $headerMobileWidth) {
              display: none;
            }
          }
        }
      }
    }

    .header-nav {
      .nav-item {
        &.active {
          .subnav {
            display: block;
          }
        }
      }

      .subnav {
        display: none;
        @include marginPadding(0, 0);
        position: static;
        background: $white;
        border: none;

        @media screen and (min-width: $headerMobileWidth) {
          @include marginPadding(0 0 0 -15px, 0);
          position: absolute;
          top: 80px;
          border: 1px solid $lightGray;
          z-index: 3;
          min-width: 240px;
        }

        .subnav-items {
          @include marginPadding(0, 0);

          .subnav-item {
            &:last-child {
              .subnav-item-link {
                border: none;
              }
            }

            .subnav-item-link {
              @include marginPadding(0, 30px);
              @include flex(center, flex-start);
              flex-direction: column;
              height: 80px;
              transition: all .25s;
              border-bottom: 1px solid $lightGray;

              @media screen and (min-width: $headerMobileWidth) {
                @include marginPadding(0, 25px 30px);
                @include flex(flex-start, flex-start);
                height: auto;
              }

              &:hover {
                background: $lightGray;
              }

              .subnav-item-title {
                @include marginPadding(0, 0);
                color: $black;
              }
            }
          }
        }
      }
    }

    .cta_btn {
      @include marginPadding(0 0 0 20px, 0);
      display: none;

      @media screen and (min-width: 500px) {
        display: block;
      }

      .cta_btn_link {
        @include marginPadding(0, 15px 20px);
        @include flex(center, center);
        font-weight: bold;
        color: $white;
        text-align: center;
        text-transform: uppercase;
        background: $apricot;

        &:hover {
          background: $sunrise;
        }
      }
    }

    .nav-mobile-btn {
      @include marginPadding(0 0 0 25px, 0);
      @include flex(center, center);
      height: 80px;
      font-size: 24px;
      background: none !important;
      border: none !important;
      box-shadow: none !important;
      outline: none !important;
      cursor: pointer;

      @media screen and (min-width: $headerMobileWidth) {
        display: none;
      }

      .nav-mobile-btn-bars {
        position: relative;
        width: 35px;
        height: 20px;

        .nav-mobile-btn-bar {
          position: absolute;
          width: 100%;
          height: 3px;
          background: $black;
          transition: all .25s;

          &.top {
            top: 0;
            left: 0;
          }

          &.bottom {
            bottom: 0;
            right: 0;
          }
        }
      }
    }
  }
}