$headerMobileWidth: 900px;
$copyGray: #6C6762;

.header {
  @include marginPadding(0, 0);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background: $white;
  z-index: 99999;
  transition: all .25s;
  border-bottom: 1px solid $lightGray;

  @media screen and (min-width: $headerMobileWidth) {
    background: $white;
    border-bottom: 1px solid rgba(255, 255, 255, 0);
  }

  &.scrolled {
    background: $white;
    border-bottom: 1px solid $lightGray;
  }

  &:hover {
    background: $white;
    border-bottom: 1px solid $lightGray;
  }

  .header-container {
    position: relative;
    @include marginPadding(0 auto, 0 30px);
    @include flex(space-between, center);
    max-width: 1260px;
    height: 80px;

    .header-logo-container {
      margin-top: 3px;

      .header-logo {
        width: 180px;

        .header-logo-img {
          @include fullWidthImage();
        }
      }
    }

    .navigation-container {
      @include flex(flex-end, center);
      flex: 1;

      &.nav-open {
        .header-nav {
          @include marginPadding(0, 0 0 80px);
          display: block;
          position: absolute;
          top: 80px;
          left: 0;
          width: 100%;
          height: calc(100vh - 80px);
          background: $white;
          overflow-y: auto;

          @media screen and (min-width: $headerMobileWidth) {
            @include marginPadding(0, 0);
            @include flex(flex-end, center);
            position: static;
            background: none;
            height: auto;
          }
        }

        .nav-mobile-btn-bars {
          @include flex(center, center);

          .nav-mobile-btn-bar {
            &.top {
              transform: rotate(45deg);
              top: 8px;
            }

            &.bottom {
              transform: rotate(-45deg);
              bottom: 9px;
            }
          }
        }
      }
    }

    .header-nav {
      @include marginPadding(0, 0);
      display: none;

      @media screen and (min-width: $headerMobileWidth) {
        @include flex(flex-end, center);
      }

      .nav-items {
        @include marginPadding(0, 0);
        @include flex(flex-end, center);
        flex-direction: column;

        @media screen and (min-width: $headerMobileWidth) {
          @include flex(flex-end, center);
          flex-direction: row;

          &:hover {
            .nav-item {
              .nav-item-link {
                opacity: .5;
              }
            }
          }
        }

        .nav-item {
          position: relative;
          @include marginPadding(0, 0);
          width: 100%;
          border-top: 1px solid $lightGray;

          @media screen and (min-width: $headerMobileWidth) {
            position: static;
            border-top: none;
          }

          &:hover,
          &.active {
            .nav-item-link {
              color: $black;
              background: $lightGray;
            }
          }

          &.active {
            .nav-arrow-down {
              transform: rotate(-180deg);

              .nav-arrow-down-fill {
                fill: $black;
              }
            }
          }

          @media screen and (min-width: $headerMobileWidth) {
            @include flex(center, center);
            width: auto;

            &:hover,
            &.active {
              .nav-item-link {
                background: none;
                opacity: 1;
              }

              .nav-arrow-down {
                transform: rotate(-180deg);

                .nav-arrow-down-fill {
                  fill: $black;
                }
              }
            }
          }

          &.nav-item-mobile {
            display: block;

            @media screen and (min-width: $headerMobileWidth) {
              display: none;
            }
          }

          &.nav-item-pricing {
            display: block;

            .nav-item-link {
              font-size: 16px;
              line-height: 27px;
              letter-spacing: .75px;
              font-weight: 700;
              color: $white;
              background: $apricot;
            }

            @media screen and (min-width: 500px) {
              display: none;
            }
          }

          .nav-item-link {
            @include marginPadding(0, 0 30px);
            @include flex(space-between, center);
            height: 80px;
            font-size: 14px;
            color: $black;
            width: 100%;
            transition: background .25s;

            @media screen and (min-width: $headerMobileWidth) {
              @include flex(center, center);
              @include marginPadding(0, 0 10px);
              text-align: center;
              color: $black;
              transition: all .25s;
            }

            @media screen and (min-width: 1000px) {
              @include marginPadding(0, 0 15px);
              color: $black;
            }
          }

          .nav-arrow-down {
            width: 20px;
            height: auto;
            transition: all .25s;

            .nav-arrow-down-fill {
              fill: $black;
              transition: all .25s;
            }
          }

          .nav-item-close {
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            width: 85px;
            height: 80px;
            cursor: pointer;

            @media screen and (min-width: $headerMobileWidth) {
              display: none;
            }
          }
        }
      }
    }

    .header-nav {
      .nav-item {
        &.active {
          .subnav {
            @include grid(0 30px);
            grid-template-columns: 1fr;

            @media screen and (min-width: 900px) {
              @include grid(30px);
              grid-template-columns: repeat(2, 1fr);
            }
          }
        }
      }

      .subnav {
        display: none;
        @include marginPadding(0, 0 30px);
        position: static;
        background: $white;
        border: none;

        &.subnav-product,
        &.subnav-why-kantata,
        &.subnav-resources {
          .subnav-items {
            grid-template-areas: unset;
            grid-template-columns: 1fr;
            grid-template-rows: unset;

            .subnav-item {
              &.item-1 {
                grid-area: unset;
              }

              &.item-2 {
                grid-area: unset;
              }

              &.item-3 {
                grid-area: unset;
              }

              &.item-4 {
                grid-area: unset;
              }

              &.item-5 {
                grid-area: unset;
              }

              &.item-6 {
                grid-area: unset;
              }
            }
          }
        }

        @media screen and (min-width: 500px) {
          &.subnav-product {
            .subnav-items {
              grid-template-areas: "one four"
                "two five"
                "three six";
              grid-template-columns: 1fr 1fr;
              grid-template-rows: 1fr 1fr 1fr;

              .subnav-item {
                &.item-1 {
                  grid-area: one;
                }

                &.item-2 {
                  grid-area: two;
                }

                &.item-3 {
                  grid-area: three;
                }

                &.item-4 {
                  grid-area: four;
                }

                &.item-5 {
                  grid-area: five;
                }

                &.item-6 {
                  grid-area: six;
                }
              }
            }
          }

          &.subnav-why-kantata,
          &.subnav-resources {
            .subnav-items {
              grid-template-areas: "one three"
                "two four";
              grid-template-columns: 1fr 1fr;
              grid-template-rows: 1fr 1fr;

              .subnav-item {
                &.item-1 {
                  grid-area: one;
                }

                &.item-2 {
                  grid-area: two;
                }

                &.item-3 {
                  grid-area: three;
                }

                &.item-4 {
                  grid-area: four;
                }
              }
            }
          }
        }

        @media screen and (min-width: 900px) {
          position: absolute;
          top: 80px;
          left: -0px;
          right: -0px;
          min-height: 245px;
          border: 1px solid $lightGray;
          z-index: 3;
        }

        .subnav-items {
          @include marginPadding(0, 30px 0);
          @include grid(5px);
          grid-template-columns: 1fr 1fr;

          .subnav-item {
            .subnav-item-link {
              @include marginPadding(0, 15px);
              @include flex(flex-start, flex-start);
              flex-direction: column;
              transition: all .25s;

              &:hover {
                background: $lightGray;
              }

              .subnav-item-title {
                @include marginPadding(0 0 5px, 0);
                font-size: 14px;
                line-height: 19px;
                font-weight: 600;
                color: $black;
              }

              .subnav-item-copy {
                @include marginPadding(0, 0);
                font-size: 14px;
                line-height: 20px;
                font-weight: 400;
                color: $copyGray;
              }
            }
          }
        }

        .subnav-featured {
          display: none;
          @include marginPadding(0 -30px, 30px);
          grid-gap: 30px;
          height: 100%;
          background: $abalone;

          @media screen and (min-width: 500px) {
            @include flex(flex-start, flex-start);
          }

          @media screen and (min-width: 900px) {
            @include marginPadding(0 -30px 0 0, 30px);
          }

          .subnav-featured-image-container {
            flex: none;
            width: 150px;

            .subnav-featured-image {
              @include fullWidthImage();
            }
          }

          .subnav-featured-content {
            margin-top: 20px;
            flex: 1;

            .subnav-featured-title {
              @include marginPadding(0 0 5px, 0);
              font-size: 18px;
              line-height: 24px;
              font-weight: 700;
              color: $black;
            }

            .subnav-featured-copy {
              @include marginPadding(0, 0);
              font-size: 14px;
              line-height: 25px;
              font-weight: 400;
              color: $copyGray;
            }
          }
        }
      }
    }

    .nav-btns {
      @include marginPadding(0, 0 30px 0 0);
      @include flex(center, center);
      grid-gap: 25px;

      @media screen and (min-width: $headerMobileWidth) {
        @include marginPadding(0, 0 0 0 15px);
      }
    }

    .nav-mobile-btn {
      @include marginPadding(0, 0);
      @include flex(center, center);
      height: 80px;
      font-size: 24px;
      background: none !important;
      border: none !important;
      box-shadow: none !important;
      outline: none !important;
      cursor: pointer;

      @media screen and (min-width: $headerMobileWidth) {
        display: none;
      }

      .nav-mobile-btn-bars {
        position: relative;
        width: 35px;
        height: 20px;

        .nav-mobile-btn-bar {
          position: absolute;
          width: 100%;
          height: 3px;
          background: $black;
          transition: all .25s;

          &.top {
            top: 0;
            left: 0;
          }

          &.bottom {
            bottom: 0;
            right: 0;
          }
        }
      }
    }
  }
}