.social-icons {
  @include marginPadding(0, 0);
  @include flex(flex-start, center);
  grid-gap: 10px;

  &:hover {
    .social-icon-link {
      opacity: .5;
    }
  }

  .social-icon {         
    @include flex(center, center);

    .social-icon-link {
      @include flex(center, center);
      @include marginPadding(0, 8px);
      width: 35px;
      height: 35px;
      border: 2px solid $orange;
      transition: all .25s;

      &:hover {
        opacity: 1;
      }

      &.white { border: 2px solid $white; }
      &.black { border: 2px solid $black; }
      &.orange { border: 2px solid $orange; }
      &.yellow { border: 2px solid $yellow; }
      &.purple { border: 2px solid $purple; }
      &.gray { border: 2px solid $darkGray; }
      &.gold { border: 2px solid $gold; }

      .social-icon {
        width: 100%;
        height: 100%;
        transition: all .25s;
      }
    }
  }
}