.social-icons {
  @include marginPadding(0, 0);
  @include flex(flex-start, center);
  grid-gap: 10px;

  &:hover {
    .social-icon-link {
      opacity: .25;
    }
  }

  .social-icon {
    @include flex(center, center);

    .social-icon-link {
      @include flex(center, center);
      @include marginPadding(0, 8px);
      width: 45px;
      height: 45px;
      // border: 1px solid $apricot;
      transition: all .25s;

      &:hover {
        opacity: 1;
      }

      .social-icon {
        width: 100%;
        height: 100%;
        transition: all .25s;

        .social-icon-fill {
          fill: $apricot;
        }
      }
    }
  }
}