@import "../../styles/styles";

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: $white;
  z-index: 9;
  @include flex(flex-start, center);
}

.header_container {
  @include flex(space-between, center);
  flex: 1;
}

.logo_container {
  @include marginPadding(0, 0);
  flex: none;
  width: 180px;
}

.logo {
  margin-top: 5px;
  @include fullWidthImage();
}

.nav {
  @include flex(flex-end, center);
  grid-gap: 30px;
}

.nav_items {
  @include marginPadding(0, 0);
  display: none;

  @media screen and (min-width: 900px) {
    @include flex(flex-end, center);
  }

  &:hover {
    .nav_item {
      opacity: .25;
    }
  }

  .nav_item {
    @include marginPadding(0, 0);

    &:hover {
      opacity: 1;
    }

    .nav_item_link {
      @include marginPadding(0, 0 15px);
      @include flex(center, center);
      color: $white;
      text-align: center;
      height: 80px;
      color: $black;
    }
  }
}

.cta_btn {
  @include marginPadding(0, 0);

  .cta_btn_link {
    @include marginPadding(0, 15px 20px);
    @include flex(center, center);
    font-weight: bold;
    color: $white;
    text-align: center;
    background: $apricot;

    &:hover {
      background: $sunrise;
    }
  }
}

// mobile
.header {
  &.mbl_nav_open {
    .nav_mobile_btn {
      .nav_mobile_btn_bars {
        @include flex(center, center);

        .nav_mobile_btn_bar {
          &.top {
            transform: rotate(45deg);
            top: 8px;
          }

          &.bottom {
            transform: rotate(-45deg);
            bottom: 9px;
          }
        }
      }
    }
  }
}



.nav_mobile_btn {
  @include marginPadding(0, 0);
  @include flex(center, center);
  height: 80px;
  font-size: 24px;
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
  cursor: pointer;

  @media screen and (min-width: 900px) {
    display: none;
  }

  .nav_mobile_btn_bars {
    position: relative;
    width: 35px;
    height: 20px;

    .nav_mobile_btn_bar {
      position: absolute;
      width: 100%;
      height: 3px;
      background: $black;
      transition: all .25s;

      &.top {
        top: 0;
        left: 0;
      }

      &.bottom {
        bottom: 0;
        right: 0;
      }
    }
  }
}