// colors
// ----------------------------------------------------------

// defaults
$white: #fff;
$black: #000;
$gray: #9e9992;
$lightGray: #F7F7F7;

// renovating health
$wave: #a0b3c4;
$ochre: #967644;
$sunrise: #E1B478;
$apricot: #DB9367;
$abalone: #F1F1F1;
$sand: #EBE1D0;
$robin: #C1CAC4;
$clay: #B2A088;