// margin/padding
// ----------------------------------------------
@mixin marginPadding($margin, $padding) {
  margin: $margin;
  padding: $padding;
}

// flexbox
// ----------------------------------------------
@mixin flex($content, $align) {
  display: flex;
  justify-content: $content;
  align-items: $align;
}

// grid
// ----------------------------------------------
@mixin grid($gap) {
  display: grid;
  grid-gap: $gap;
}

// box shadow
// ----------------------------------------------
@mixin boxShadow() {
  box-shadow: 0px 6px 17px -5px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 0px 6px 17px -5px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 6px 17px -5px rgba(0, 0, 0, 0.35);
}

// full image
// ----------------------------------------------
@mixin fullWidthImage() {
  display: block;
  width: 100%;
  height: auto;
}

// absolute link
// ----------------------------------------------
@mixin absoluteLink() {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  cursor: pointer;
}