@import "./styles.scss";
@import './navigation/navigation.scss';

// resets
// ----------------------------------------------------------
html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: $black;
}

body * {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  transition: all .25s;
}

a {
  color: $black;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
section,
figure,
figcaption {
  @include marginPadding(0, 0);
}

ul,
li {
  @include marginPadding(0, 0);
  list-style: none;
}

button {
  background: none;
  border: none;
  box-shadow: none;
  outline: none;
}

// defaults
// ----------------------------------------------------------
.container {
  @include marginPadding(0 auto, 0 30px);
  max-width: 1260px;
}

.page-main {
  position: relative;
  margin-top: 80px;
  background: url('/images/pattern.jpg') repeat;
  z-index: 1;
}

.page {
  &:not(.home) {
    .page-main {
      padding: 60px 0 100px;
    }
  }
}

.title {
  margin-bottom: 60px;
}

// cta
// ----------------------------------------------------------
.cta_btn {
  @include marginPadding(0, 0);

  .cta_btn_link {
    @include marginPadding(0, 15px 20px);
    @include flex(center, center);
    grid-gap: 20px;
    font-weight: bold;
    color: $white;
    text-align: center;
    text-transform: uppercase;
    background: $apricot;
    border-radius: 30px;
    cursor: pointer;

    &:hover {
      background: $sunrise;
    }

    .arrow {
      width: 15px;

      .arrow-fill {
        fill: $white;
      }
    }
  }
}

// popup
// ----------------------------------------------------------
.popup-overlay {
  @include marginPadding(0, 20px);
  background: rgba(0, 0, 0, .8) !important;
  z-index: 99999 !important;
  @include flex(center, flex-start);
  overflow-y: auto;

  @media screen and (min-width: 600px) and (min-height: 675px) {
    @include flex(center, center);
  }

  .popup-content {
    @include marginPadding(0 auto, 20px);
    flex: 1;
    max-width: 900px;
    min-height: 500px;
    background: $white;

    .close {
      @include marginPadding(0, 0);
      grid-column: 1/-1;
      font-weight: normal;
      position: absolute;
      right: 20px;
      top: 20px;
      width: 30px;
      height: 30px;
      border: none !important;
      background: none !important;
      outline: none !important;
      cursor: pointer;

      &:before {
        content: "";
        height: 100%;
        width: 2px;
        background: $black;
        position: absolute;
        top: 0;
        left: 14px;
        transform: rotate(-135deg);
      }

      &:after {
        content: "";
        height: 100%;
        width: 2px;
        background: $black;
        position: absolute;
        top: 0;
        right: 14px;
        transform: rotate(135deg);
      }
    }
  }
}

// blog
// ----------------------------------------------------------
.blog-items {
  @include marginPadding(0, 0);
  @include grid(30px);

  .blog-item {
    position: relative;
    @include marginPadding(0, 30px);
    height: 100%;
    background: $white;
    border: 1px solid $abalone;
    @include flex(flex-start, flex-start);
    flex-direction: column;
    grid-gap: 15px;

    &:hover {
      @include boxShadow();
    }

    .blog-item-link {
      @include marginPadding(0, 0);
      @include absoluteLink();
    }

    .blog-item-date {
      @include marginPadding(0, 0);
      text-transform: uppercase;
    }

    .blog-item-title {
      @include marginPadding(0, 0);
    }
  }
}

// article
// ----------------------------------------------------------
.blog-title {
  margin-bottom: 20px;
}

.blog-date {
  margin-bottom: 50px;
}

.blog-content {
  margin-top: 50px;
}

// podcast
// ----------------------------------------------------------
.podcast-items {
  @include marginPadding(0, 0);
  @include grid(30px);
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  .podcast-item {
    position: relative;
    @include marginPadding(0, 30px);
    height: 100%;
    background: $white;
    border: 1px solid $abalone;
    @include flex(flex-start, flex-start);
    flex-direction: column;
    grid-gap: 15px;

    &:hover {
      @include boxShadow();
    }

    .podcast-item-link {
      @include marginPadding(0, 0);
      @include absoluteLink();
    }

    .podcast-item-episode {
      @include marginPadding(0, 0);
      text-transform: uppercase;
    }

    .podcast-item-title {
      @include marginPadding(0, 0);
    }
  }
}